@import "tailwindcss";
@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/700.css";
@import "@fontsource/dm-sans/300.css";
@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/500.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f5f0;
  color: #1c1c1c;
  font-family: "DM Sans", sans-serif;
}

.font-display {
  font-family: "Playfair Display", serif;
}
